.s-hero {
  background: url(../Img/bg-hero.svg) no-repeat center center;
  height: 78.6rem;
  padding-top: 17.5rem;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .text {
      width: 100%;
      max-width: 68.3rem;
      h3 {
        margin-bottom: 3.2rem;
        font-weight: 600;
        color: hsla(0, 0%, 100%, 0.8);
      }
      h1 {
        margin-bottom: 3.9rem;
        color: $white;
      }
      button {
        margin-bottom: 6.4rem;
      }
      ul {
        width: 100%;
        max-width: 62.1rem;
        display: flex;
        gap: 59px;
        justify-content: space-between;

        li {
          display: flex;
          align-items: center;
          gap: 12px;
          p {
            color: #ffffff;
          }
          .bg-img {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
            width: 48px;
            height: 48px;
          }
        }
      }
    }
    .neon {
      margin-right: -195px;
      width: 100%;
      max-width: 706px;
      height: 692px;
      h2 {
        text-align: center;
        font-weight: 600;
        font-size: 56px;
        line-height: 84px;
        letter-spacing: -2px;
        color: rgba(255, 255, 255, 0.4);
        margin-bottom: 6.7rem;
      }
      .neon-image {
        display: grid;
        justify-items: center;
        width: 100%;
        height: 541.61px;
        position: relative;
        left: 30px;
        top: 20px;
        .cartao-frente {
          position: absolute;
          left: -68px;
          top: 13px;
          z-index: 2;
        }
        .cartao-verso {
          position: absolute;
          top: 143px;
          right: 100px;
          z-index: 1;
        }
        .circulo-cartao {
          position: absolute;
          top: 0;
        }
      }
    }
  }
}

.s-card-neon {
  padding-top: 10rem;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    // align-items: center;
    gap: 13.9rem;
    .left-area {
      max-width: 27.7rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .ilustracao-mockup {
        max-width: 27.7rem;
        display: flex;
        position: relative;
        .ciruclo-mockup {
          max-width: 37.7rem;
          height: 42.251rem;
          position: absolute;
          top: 8.3rem;
          right: 11.4rem;
          z-index: -1;
        }
      }
      .neon-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 27rem;
        .icone-neon {
          margin-bottom: 3.6rem;
        }
        .neon-text {
          h3 {
            color: $gray-600;
          }
          p {
            margin-bottom: 2.6rem;
            color: rgba(95, 92, 107, 0.8);
            max-width: 27rem;
            text-align: center;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 150%;
          }
        }
        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 1.35rem;
            }
          }
        }
        &::before {
          content: "";
          background-image: url(../Img/detalhe.svg);
          background-repeat: no-repeat;
          background-position: center;
          width: 5px;
          height: 83px;
          padding-top: 3rem;
          padding-bottom: 3rem;
        }
      }
    }
    .right-area {
      max-width: 800px;
      width: 100%;
      .produtos-neon {
        margin-bottom: 144px;
        h2 {
          color: $gray-600;
          margin-top: 3rem;
          margin-bottom: 1.6rem;
          max-width: 48.8rem;
        }
        ul {
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-block: 3.4rem;
            border-bottom: 1px solid rgba(225, 224, 231, 0.9);
            .produtos-item {
              display: flex;
              gap: 4.3rem;
              align-items: center;
            }
            h3 {
              color: $gray-400;
              font-family: "Poppins", sans-serif;
              font-weight: 600;
            }
            p {
              color: $gray-300;
            }
          }
        }
        #produto {
          display: inline-block;
          margin-top: 3.2rem;
          color: $brand-blue;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          letter-spacing: -0.5px;
          font-size: 1.6rem;
          line-height: 112%;
          position: relative;
          &::after {
            content: "";
            width: 1rem;
            height: 0.2rem;
            background-color: $brand-yellow;
            display: block;
            position: absolute;
            right: -20px;
            bottom: 1px;
          }
        }
      }
      .card-conta-pj {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        width: 800px;
        height: 410px;
        background: url(../Img/Banner-pj.svg) no-repeat center;
        border-radius: 12px;
        .content-card {
          padding-left: 59px;
          .text {
            max-width: 380px;
            h2 {
              font-family: "Poppins";
              line-height: 112%;
              letter-spacing: -1px;
              color: $white;
              margin-bottom: 11px;
            }
            h3 {
              font-family: "Poppins";
              font-size: 24px;
              line-height: 150%;
              letter-spacing: -0.5px;
              color: $white;
              margin-bottom: 8px;
            }
            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 150%;
              color: $white;
              margin-bottom: 33px;
            }
          }
          .btns {
            display: flex;
            gap: 16px;
          }
        }
        .card-pj {
          img {
            position: absolute;
            right: -29.61px;
            top: 100.1px;
          }
        }
      }
    }
  }
}

.s-depoimentos {
  padding-top: 134px;
  padding-bottom: 200px;
  .depoimento-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-bottom: 40px;
    span {
      display: inline-block;
      color: $gray-200;
      font-family: "Poppins";
      font-weight: 700;
      font-size: 40px;
      line-height: 112%;
      letter-spacing: -1px;
      margin-bottom: 14px;
    }
    h2 {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        display: inline;
      }
    }
    .swiper-pagination {
      position: static;
      width: auto;
      padding-bottom: 15px;
      .swiper-pagination-bullet {
        transition: all 0.3s ease;
        background-color: $brand-yellow;
        opacity: 0.5;
        border-radius: 12px;
        width: 8.62px;
        &-active {
          background-color: $brand-yellow;
          opacity: 1;
          width: 17.23px;
        }
      }
    }
  }
  .slide-depoimentos {
    overflow-x: hidden;
  }
}
