h1 {
  font-weight: 600;
  font-size: 6.4rem;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

h3 {
  font-size: 24px;
  line-height: 150%;
}

h4 {
  font-size: 20px;
  line-height: 112%;
}

h1,
h2 {
  line-height: 112%;
  letter-spacing: -0.1rem;
}

h3,
h4 {
  font-weight: 500;
  letter-spacing: -0.05rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: $gray-500;
}

.p1 {
  font-size: 18px;
  letter-spacing: -0.05rem;
}

.p2 {
  font-size: 16px;
}

.p3 {
  font-size: 14px;
}

.p1,
.p2,
.p3 {
  font-weight: 400;
  line-height: 150%;
  color: $gray-500;
}
